.sidenav {
  /* background: #343a40; */
  background-color: rgb(20, 86, 172);
}
img {
  max-width: 70px;
  max-height: 70px;
  object-fit: cover;
  
}


h3 {
  font-weight: 550;
}
h6 {
  /* color: rgb(75, 74, 74); */
  color:black;
  font-weight: 550;
}
button {
  font-size: 0.8rem;
  border-radius: 0.4rem;
  font-weight: 550;
  color:rgb(20, 86, 172);
  background-color: rgb(20, 86, 172);
}

label {
  font-size: 0.8rem;
  color: rgb(75, 74, 74);
  font-weight: 550;
}
input {
  max-width: 80%;
}
input[type="text"],
input[type="email"] {
  font-size: 0.8rem;
}
.text-danger {
  font-size: 0.7rem;
  margin-top: 3px;
}
.block{
  font-size:0.8rem;
  color:red;
}
.scroll{
   border-top:1px solid rgb(231, 231, 231);
}
.back-color {
  background-color: rgb(235, 235, 255);
}