button {
  border: 1px solid rgb(0, 81, 255);
  color: rgb(0, 81, 255);
  background-color: transparent;
  border-radius: 1rem;
  font-weight: 550;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  min-width: 10rem;
}

.header{
  /* padding:0.1rem 1rem; */
  font-weight: 550;
  font-size: 0.9rem;
  /* background-color: aliceblue; */
}
.details{
  /* padding: 0.1rem 1rem; */
  font-size: 0.8rem;
  font-weight: 600;
  color:rgb(66, 66, 66);
}
.normal{
  font-size: 0.8rem;
}
i{
  font-size: 0.8rem;
  color:grey;
}