<div class="bg-white w-100">
  <app-navbar></app-navbar>
</div>
<div
  *ngIf="user"
  class="container-fluid d-flex flex-column justify-content-start align-items-center p-0 m-0 vh-100"
>
  <div class="main bg-custom py-3 mt-4 shadow-sm" style="width: 90%">
    <!-- first row with image and name -->
    <app-profile-header
      [user]="user"
      [education]="education"
    ></app-profile-header>
  </div>
  <div
    class="mt-4 p-0 m-0"
    style="width: 90%; border-bottom: 1px solid rgb(231, 230, 230)"
  >
    <div class="d-flex p-0 m-0">
      <h5
        class="me-2 m-0 py-2 cursor-pointer"
        [ngClass]="{ changeStyle: isEdit, menu: !isEdit }"
        (click)="isEdit = true"
      >
        View & Edit
      </h5>
      <h5
        class="m-0 ms-2 py-2 cursor-pointer"
        [ngClass]="{ changeStyle: !isEdit, menu: isEdit }"
        (click)="isEdit = false"
      >
        Applications
      </h5>
    </div>
  </div>
  <div class="mt-4 shadow-sm" style="width: 90%">
    <!-- second row -->
    <div class="row p-0 info" style="box-sizing: border-box" *ngIf="isEdit">
      <div class="row">
        <div class="col col-lg-3 col-md-3 col-sm-12 col-12 mb-3">
          <div id="list-example" class="list-group">
            <a
              class="list-group-item list-group-item-action"
              [routerLink]="[]"
              fragment="list-item-1"
              >Experience</a
            >
            <a
              class="list-group-item list-group-item-action"
              [routerLink]="[]"
              fragment="list-item-7"
              >Education</a
            >
            <a
              class="list-group-item list-group-item-action"
              [routerLink]="[]"
              fragment="list-item-2"
              >Preference</a
            >
            <a
              class="list-group-item list-group-item-action"
              [routerLink]="[]"
              fragment="list-item-3"
              >Profile Summary</a
            >
            <a
              class="list-group-item list-group-item-action"
              [routerLink]="[]"
              fragment="list-item-4"
              >Skills</a
            >
            <a
              class="list-group-item list-group-item-action"
              [routerLink]="[]"
              fragment="list-item-5"
              >Languages</a
            >
            <a
              class="list-group-item list-group-item-action"
              [routerLink]="[]"
              fragment="list-item-6"
              >Resume</a
            >
          </div>
        </div>
        <div class="col col-lg-9 col-md-9 col-sm-12 col-12">
          <div
            id="scrollspy-example"
            data-bs-spy="scroll"
            data-bs-target="#list-example"
            data-bs-smooth-scroll="true"
            class="scrollspy-example"
            tabindex="0"
          >
            <div class="section" id="list-item-1">
              <p>
                <app-experience [id]="user.id" [experiences]="experiences">
                </app-experience>
              </p>
            </div>
            <div class="section" id="list-item-7">
              <h5 id="list-item-7">
                <i class="fa-solid fa-graduation-cap me-2 fs-5"></i>Education
              </h5>
              <p>
                <app-education
                  [id]="user.id"
                  [education]="education"
                ></app-education>
              </p>
            </div>
            <div class="section" id="list-item-2">
              <p>
                <app-preference
                  [Id]="user.id"
                  [preferences]="details?.preference"
                ></app-preference>
              </p>
            </div>
            <div class="section" id="list-item-3">
              <p>
                <app-summary
                  [id]="user.id"
                  [summary]="details?.summary"
                ></app-summary>
              </p>
            </div>
            <div class="section" id="list-item-4">
              <p>
                <app-skills
                  [Id]="user.id"
                  [skills]="details?.skills"
                ></app-skills>
              </p>
            </div>

            <div
              class="section d-flex justify-content-between"
              id="list-item-5"
            >
              <div class="col-12">
                <app-languages
                  [Languages]="details?.languages"
                  [Id]="user.id"
                ></app-languages>
              </div>
            </div>
            <div
              class="section d-flex justify-content-between"
              id="list-item-6"
            >
              <div class="col-12">
                <div>
                  <h5 id="list-item-2">
                    <i class="fa-solid fa-file-pdf me-2 fs-5"></i>Resume
                  </h5>
                  <p style="font-size: 0.8rem">
                    Your resume is the first impression you make on potential
                    employers. Craft it carefully to secure your desired job or
                    internship.
                  </p>
                </div>
                <div class="mb-2">
                  <span class="fw-bold" style="font-size: 0.8rem">
                    Your resume
                    <i
                      class="fa-solid  fa-download  ms-2"
                      (click)="downloadResume(user.resume,user.username)"
                    ></i>
                  </span>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="text-center py-2 px-3 rounded resume">
                    <div class="file-upload w-100">
                      <input
                        type="file"
                        id="file-upload"
                        class="file-upload-input"
                        (change)="onFileSelected($event)"
                        accept=".pdf, .doc, .docx"
                      />
                      <label
                        for="file-upload"
                        class="file-upload-label text-center fw-bold"
                        ><i class="fa-solid fa-upload"></i><br />
                        click to update Resume</label
                      >
                      <!-- <span class="file-upload-filename">No file chosen</span>  -->
                    </div>
                    <button
                      class="btn btn-primary mt-2"
                      (click)="updateResume()"
                   *ngIf="selectedFile"
                    >
                      Ok
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 width-90" *ngIf="!isEdit">
      <app-applications [UserId]="user.id"></app-applications>
    </div>
  </div>

  <!-- modal for profile update -->
  <app-profile-edit-modal
    [userForm]="userForm"
    (save)="editProfile()"
  ></app-profile-edit-modal>

  <!-- modal for profile image update -->
  <app-profile-image-modal
    [user]="user"
    [imageUrl]="imageUrl"
    (upload)="updatePic()"
    (delete)="deletePic()"
    (fileSelected)="onFileSelected($event)"
  ></app-profile-image-modal>
</div>
