<div class="modal fade" id="profilePicUpdate">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button
          (click)="resetImage()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body">
        <div>
          <div class="mb-3 text-center">
            <h5>Upload a recent photo</h5>
            <p>
              Photo enhances memorability and professionalism
            </p>
          </div>

          <div class="mb-3 text-center">
            <img class="img" [src]="imageUrl" alt="Profile picture preview" />
          </div>

          <div class="mb-3 text-center">
            <button
              type="button"
              class="btn btn-primary m-1"
              (click)="triggerFileInput()"
            >
              Upload a photo
            </button>

            <input
              type="file"
              #fileInput
              (change)="onFileChange($event)"
              accept="image/*"
              hidden
            />

            <button
              type="button"
              class="text-primary m-1"
              (click)="onDelete()"
              data-bs-dismiss="modal"
            >
              Delete a photo
            </button>
          </div>

          <div class="mb-3 text-center">
            <h6 class="text-secondary">
              Supported: png, jpg, jpeg, gif - up to 2MB
            </h6>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="resetImage()"
        >
          Close
        </button>

        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="onUpload()"
        >
          Save
        </button>
      </div>

    </div>
  </div>
</div>