<div class="d-flex justify-content-between">
  <div>
    <h5 id="list-item-2">
      <i class="fa-solid fa-book-open-reader me-2 fs-5"></i>Profile Summary
    </h5>
  </div>
  <div>
    <i class="fa-solid fa-plus me-2 fs-5" (click)="openModal()"></i>
  </div>
</div>
<div class="mt-2">
  <p *ngIf="summary ; else noSummary">
    {{ summary }}
  </p>
  <ng-template #noSummary>
    <label>
      A strong profile summary highlights your key strengths and experiences,
      helping you stand out to employers and increase your chances of getting hired.
    </label>
  </ng-template>
</div>
<div>
  <div>
    <app-modal
      [formFields]="formFields"
      [formHeader]="formTitle"
      [isVisible]="isModalVisible"
      [formData]="selectedFormData"
      (formDataChange)="handleFormDataChange($event)"
      (closeModal)="onCloseModal()"
    ></app-modal>
  </div>
</div>
