 <div class="row p-1 m-0" style="box-sizing: border-box">
      <div class="col col-lg-3 col-md-3 col-sm-4 col-12 p-0">
        <div class="d-flex justify-content-center p-0">
          <div
            class="image-container d-flex justify-content-center align-items-center"
            [ngStyle]="{
              'background-image':
                'url(' +
                (user?.profilePic
                  ? user.profilePic
                  : '/assets/images/profile-back.jpg') +
                ')',
            }"
          >
            <span
              class="h-100 editImage d-flex justify-content-center align-items-center"
            >
              <i
                class="fa-solid fa-pencil fw-bold text-white fs-4"
                data-bs-toggle="modal"
                data-bs-target="#profilePicUpdate"
              ></i>
            </span>
          </div>
          <!-- <img
            src="/assets/images/profile-back.jpg"
            alt=""
            class="img-fluid"
            *ngIf="!this.user.profilePic"
          /> -->
          <!-- <img [src]="getImageUrl(this.user.profilePic)" class="img-fluid" /> -->
        </div>
      </div>
      <div
        class="col col-lg-9 col-md-9 col-sm-7 col-12 d-flex flex-wrap justify-content-between align-self-start p-1"
      >
        <div class="sub col col-lg-7 col-md-7 col-sm-12 col-12 bg-white">
          <div class="col-12 p-2">
            <span class="d-flex justify-content-between align-items-center"
              ><h2 class="fw-bold">{{ user.username | titlecase}}</h2>
              <i
                class="fa-solid fa-pencil"
                data-bs-toggle="modal"
                data-bs-target="#updateProfileModal"
              ></i>
            </span>
            <div *ngIf="education?.postgraduation || education?.graduation">
              <div *ngIf="education?.postgraduation">
                <h5>{{ education?.postgraduation?.course_name }}</h5>
                <h6>{{ education?.postgraduation?.college_name }}</h6>
              </div>
              <div *ngIf="!education?.postgraduation && education?.graduation">
                <h5>{{ education?.graduation?.course_name }}</h5>
                <h6>{{ education?.graduation?.college_name }}</h6>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-around bg-white border-top">
            <div class="col border-end d-flex flex-column p-2">
              <span>
                <i class="fa-solid fa-location-dot me-2"></i>
                <label *ngIf="user.location">{{ user.location|titlecase }}</label>
                <label *ngIf="!user.location">--</label>
              </span>
              <span>
                <i class="fa-solid fa-user me-2"></i
                ><label *ngIf="user.gender">{{ user.gender |titlecase}}</label>
                <label *ngIf="!user.gender">--</label>
              </span>
              <span
                ><i class="fa-solid fa-cake-candles me-2"></i>
                <label *ngIf="user.bdate">{{ user.bdate | date }} </label>
                <label *ngIf="!user.bdate">-- </label></span
              >
            </div>
            <div class="col d-flex flex-column p-2">
              <span
                ><label>
                  <i class="fa-duotone fa-solid fa-phone me-2"></i
                  >{{ user.contactNumber }}</label
                ></span
              >
              <span
                ><label
                  ><i class="fa-solid fa-envelope me-2"></i
                  >{{ user.email }}</label
                ></span
              >
            </div>
          </div>
        </div>
        <!-- sub col -->
        <div class="sub col col-lg-5 col-md-5 col-sm-12 col-12 p-2 bg-white">
          <div class="h-100 p-2 bg-white text-center">
            <!-- <button class="orangered text-white px-3 py-2 border-0 fs-6 rounded">Add Missing Details</button>     -->
            <img
              src="/assets/images/profile.svg"
              class="bg-white"
              style="height: 200px"
            />
          </div>
        </div>
      </div>
    </div>