<div
  class="modal fade"
  id="updateProfileModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog .modal-fullscreen-lg-down">
    <div class="modal-content">
      <!-- Modal Header -->
      <header class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">
          All about you
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </header>

      <form [formGroup]="userForm" (ngSubmit)="onSave()">
        <!-- Modal Body -->
        <main class="modal-body">
          <!-- Username -->
          <section class="mb-3">
            <label for="username" class="col-form-label"> Full name </label>
            <input
              type="text"
              class="form-control"
              formControlName="username"
              id="username"
              name="username"
              autocomplete="username"
            />
            <div class="text-danger" *ngIf="isInvalid('username')">
              <small *ngIf="hasError('username', 'required')"
                >User name is required</small
              >
            </div>
          </section>

          <!-- Birth Date -->
          <div class="mb-3">
            <label for="bdate" class="col-form-label"> Date of birth </label>
            <input
              type="date"
              class="form-control"
              formControlName="bdate"
              id="bdate"
              name="bdate"
            />
            <div class="text-danger" *ngIf="isInvalid('bdate')">
              <small *ngIf="hasError('bdate', 'required')"
                >Birth date is required</small
              >
            </div>
          </div>

          <!-- Gender -->
          <fieldset class="mb-3">
            <legend class="col-form-label">Gender</legend>
            <div class="d-flex align-items-center">
              <div
                *ngFor="let option of genderOptions"
                class="d-flex align-items-center m-2"
              >
                <input
                  type="radio"
                  class="form-check-input me-2"
                  formControlName="gender"
                  [value]="option.value"
                  [id]="option.value"
                />
                <label [for]="option.value" class="form-check-label">
                  {{ option.label }}</label
                >
              </div>
            </div>
            <div *ngIf="isInvalid('gender')" class="text-danger">
              <small *ngIf="hasError('gender', 'required')"
                >Gender is required</small
              >
            </div>
          </fieldset>

          <!-- Location -->
          <div class="mb-3">
            <label for="location" class="col-form-label">
              Current location
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="location"
              name="location"
              id="location"
            />
            <div class="text-danger" *ngIf="isInvalid('location')">
              <small *ngIf="hasError('location', 'required')"
                >Location is required</small
              >
            </div>
          </div>
          <!-- Phone -->
          <div class="mb-3">
            <label for="phone" class="col-form-label"> Mobile Number </label>
            <input
              type="text"
              class="form-control"
              formControlName="phone"
              name="phone"
              id="phone"
              autocomplete="tel"
            />
            <div *ngIf="isInvalid('phone')" class="text-danger">
              <small *ngIf="hasError('phone', 'required')"
                >Contact number is required.</small
              >
              <small *ngIf="hasError('phone', 'pattern')"
                >Only 10 digits are allowed.</small
              >
            </div>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="col-form-label"> Email </label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              name="email"
              id="email"
              autocomplete="email"
            />
            <div *ngIf="isInvalid('email')" class="text-danger">
              <small *ngIf="hasError('email', 'required')"
                >email is required.</small
              >
              <small *ngIf="hasError('email', 'email')">Invalid email</small>
            </div>
          </div>
          <!-- Fresher -->
          <fieldset class="mb-3">
            <legend class="col-form-label">Fresher</legend>
            <div class="d-flex align-items-center">
              <div
                class="d-flex align-items-center m-2"
                *ngFor="let option of fresherOptions"
              >
                <input
                  type="radio"
                  class="form-check-input me-2"
                  formControlName="fresher"
                  [value]="option.value"
                  [id]="'fresher-' + option.value"
                  name="fresher"
                />
                <label
                  [for]="'fresher-' + option.value"
                  class="form-check-label"
                >
                  {{ option.label }}</label
                >
              </div>
            </div>
            <div *ngIf="isInvalid('fresher')" class="text-danger">
              <small *ngIf="hasError('fresher', 'required')"
                >fresher is required</small
              >
            </div>
          </fieldset>
        </main>
        <!-- Modal Footer -->
        <footer class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary fw-bold"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            [disabled]="userForm.invalid"
          >
            Save
          </button>
        </footer>
      </form>
    </div>
  </div>
</div>
