<div class="container-fluid p-0">
  <app-navbar></app-navbar>

  <!-- Banner -->
  <div class="w-100 mt-4">
    <img src="/assets/images/company2.jpg" style="width: 100%; height: 300px" />
  </div>

  <!-- Main Section -->
  <div class="container mt-4" *ngIf="companies.length > 0">
    <!-- Title -->
    <h4 class="text-center text-main fw-bold mb-4">Explore By Company</h4>

    <!-- Search Box -->
    <div class="search-box mx-auto mb-4">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input type="search"  placeholder="Search companies..." [(ngModel)]="searchText" (input)="onSearch()" />
     
    </div>

    <!-- Cards Grid -->
    <div class="row g-4 mt-4 mb-5">
      <div *ngFor="let company of companies" class="col-6 col-md-4 col-lg-3">
        <a
          [routerLink]="'/view-company/' + company._id"
          class="text-decoration-none"
        >
          <div class="card text-center shadow-sm h-100">
            <!-- Logo -->
            <div class="d-flex justify-content-center align-items-center mt-3">
              <img
                [src]="company.companyLogo"
                alt="logo"
                style="width: 80px; height: 80px; object-fit: contain"
              />
            </div>

            <!-- Content -->
            <div class="card-body">
              <h6 class="fw-bold mb-0">
                {{ company?.companyName }}
              </h6>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
