.job-card {
  transition: all 0.3s ease;
  border: 1px solid #eaeaea;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.btn {
  border: 1px solid rgb(0, 81, 255);
  color: rgb(0, 81, 255);
  background-color: transparent;
  border-radius: 1rem;
  font-weight: 550;
  font-size: 0.8rem;
}
.btn:hover {
  background: linear-gradient(
    to right bottom,
    rgb(0, 81, 255),
    rgb(117, 160, 252)
  );
  border: 0;
  color: white;
}

.form-select{
  font-size:0.9rem;
  color:rgb(33, 33, 33);
  padding-left: 20px;
}
.form-control{
  font-size:1rem;
}