.container-fluid {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    22deg,
    rgba(255, 255, 255, 1) 32%,
    rgba(0, 212, 255, 1) 200%
  );
}
.link {
  text-decoration: none;
}
.grey {
  color: rgb(102, 101, 101);
  font-weight: 600;
}
label {
  font-size: 0.6rem;
}
input {
  border: 0;
  border-radius: 0;
  color: black;
  font-size: 0.8rem;
  border-bottom: 1px solid #b1b1b1;
}
input:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid rgb(0, 132, 255);
}
input::placeholder {
  font-size: 0.7rem;
}
.file-upload {
  display: inline-block;
}

.error {
  font-size: 0.7rem;
  margin-left: 0.7rem;
}
/* input[type="file"]::file-selector-button {
  color: black;
  padding: 1rem 2rem;
  content: "Upload Image";
  background-color: white;
  border: 0.1rem grey solid;
} */
input[type="file"]::file-selector-button {
  display: none;
}
img {
  max-width: 30rem;
  max-height: 30rem;
}
h3 {
  color: rgb(46, 46, 73);
  font-weight: 550;
}

.col {
  border: 1px solid rgb(230, 230, 230);
}
a {
  font-size: 0.7rem;
  font-weight: 500;
  color: black;
}
h6 {
  font-size: 0.8rem;
  color: rgb(73, 73, 73);
}
/* .form-control[type="file"] {
  overflow: hidden;
  color: white;
  background-color: orangered;
  border-radius: 1rem;
  max-width: 7rem;
  margin-left: 1rem;
  font-size: 0.7rem;
  border:0;
} */
#resume {
  overflow: hidden;
  /* color: white; */
  /* background-color:rgb(255, 117, 62); */
  /* background-color: rgb(94, 158, 253); */
  /* background: linear-gradient(to right, #0d6efd,rgb(135, 190, 235)); */
  background-color: white;
  color: rgb(65, 61, 61);
  border-radius: 0.2rem;
  max-width: 8rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  margin-left: 1rem;
  font-size: 0.8rem;
  border: 1px solid rgb(204, 203, 203);
}
#resume::before {
  content: "\1F4C4";
  text-align: center;
}
.work {
  padding: 0.7rem 1.3rem;
  font-size: 0.8rem;
  font-weight: 550;
  color: rgb(46, 46, 46);
}
.work .col {
  padding: 0.6rem 1rem;

  border-radius: 1rem;
}
/* .work .col:hover {
  background: white;
  border: 1px solid rgb(0, 110, 255);
} */
.active {
  /* background: linear-gradient(to right bottom, rgb(135, 190, 235), white); */
  background: linear-gradient(
    to right bottom,
    rgba(142, 203, 250, 0.671),
    white
  );
  border: 0;
}
@media screen and (max-width: 444px) {
  .work {
    font-size: 0.6rem;
  }
}
