<div class="modal-overlay" *ngIf="isVisible" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <div class="header text-primary mt-2">
      <h5>{{ formHeader }}</h5>
    </div>

    <div class="modal-body-scroll">

      <div class="form-field row align-items-start p-3" *ngFor="let field of formFields">

        <div class="col-12 col-md-4 mb-2 mb-md-0">
          <label>{{ field.label }}</label>
        </div>

        <div class="col-12 col-md-8">

          <!-- TEXTAREA -->
          <ng-container *ngIf="field.inputType === 'textarea'">
            <textarea
              [placeholder]="field.placeholder"
              [(ngModel)]="formData[field.name]"
              [name]="field.name"
              class="w-100"
            ></textarea>
          </ng-container>

          <!-- CHECKBOX -->
          <ng-container *ngIf="field.inputType === 'checkbox'">
            <div *ngFor="let option of field.options">
              <label>
                <input
                  type="checkbox"
                  [checked]="formData[field.name]?.includes(option.value)"
                  (change)="onCheckboxChange(field.name, option.value, $event)"
                />
                {{ option.label }}
              </label>
            </div>
          </ng-container>

          <!-- RADIO -->
          <ng-container *ngIf="field.inputType === 'radio'">
            <div *ngFor="let option of field.options">
              <label>
                <input
                  type="radio"
                  [(ngModel)]="formData[field.name]"
                  [value]="option.value"
                  [name]="field.name"
                />
                {{ option.label }}
              </label>
            </div>
          </ng-container>

          <!-- SELECT (MULTI) -->
          <ng-container *ngIf="field.inputType === 'select'">
            <div class="dropdown">
              <button class="btn btn-select dropdown-toggle" type="button" (click)="toggleDropdown()">
                Select {{ field.label }}
              </button>

              <div class="dropdown-menu p-2" *ngIf="dropdownVisible">
                <div *ngFor="let option of field.options">
                  <label class="dropdown-item">
                    <input
                      type="checkbox"
                      [checked]="formData[field.name]?.includes(option.value)"
                      (change)="onCheckboxChange(field.name, option.value, $event)"
                    />
                    {{ option.label }}
                  </label>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- NORMAL INPUT -->
          <ng-container *ngIf="!['textarea','checkbox','radio','select'].includes(field.inputType)">
            <input
              [type]="field.inputType"
              [placeholder]="field.placeholder"
              [(ngModel)]="formData[field.name]"
              [name]="field.name"
              class="w-100"
            />
          </ng-container>

        </div>
      </div>

    </div>

    <!-- BUTTONS -->
    <div class="d-flex justify-content-end bg-white px-4 mb-3">
      <button class="bg-secondary text-light m-1" (click)="close()">Close</button>
      <button class="bg-primary text-white m-1" (click)="submitData()">Save</button>
    </div>

  </div>
</div>