<div class="container-fluid vh-100">
  <app-navbar></app-navbar>

  <div class="home my-4">
    <div class="container hero-section my-0 py-10">
      <div
        class="main py-5 row mx-1 justify-content-around align-items-center text-center text-md-start"
      >
        <!-- Text Section -->
        <div class="sub-main fw-bold col-12 col-md-6 col-lg-5 mt-4">
          <h1 class="fw-bold hero-text">
            Find <span class="gradient-text">Remote</span>
          </h1>
          <h1 class="fw-bold hero-text delay-1">
            Job in <span class="gradient-text">Worldwide_</span>
          </h1>

          <!-- CTA BUTTON -->
          <button (click)="navigateToJobs()" class="btn hero-btn mt-4">Browse Jobs</button>

          <!-- COMPANY LOGOS -->
          <p class="mt-4 mb-0 text-muted fs-6 fw-semibold">
            Trusted by <span class="text-dark">top companies</span>
          </p>

          <div
            class="d-flex gap-4 align-items-center justify-content-center justify-content-lg-start logos"
          >
            <img src="/assets/logos/google.svg" />
            <img src="/assets/logos/amazon.svg" />
            <img src="/assets/logos/netflix.svg" />
            <img src="/assets/logos/microsoft.svg" />
          </div>
        </div>

        <!-- Image Section -->
        <div class="sub-main col-12 col-md-6 col-lg-5 mt-4 text-center">
          <div class="image-wrapper">
            <img
              src="/assets/images/profile.jpg"
              class="img-fluid blurred-image"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- FEATURES -->
    <section class="mt-3 mt-md-5 features container text-center">
      <h2 class="text-primary fw-bold mb-5">Why Choose Us</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="feature-card">
            <h4 class="fw-bold">🚀 Fast Hiring</h4>
            <p>Quick and seamless hiring process.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-card">
            <h4 class="fw-bold">🎯 Smart Matching</h4>
            <p>AI-based job recommendations.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-card">
            <h4 class="fw-bold">🌍 Global Reach</h4>
            <p>Connect with companies worldwide.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
