
<div class="container-fluid vh-100">
  <app-navbar></app-navbar>
  <div class="main m-1 d-flex flex-wrap justify-content-center align-items-center">
    <div class="sub-main fw-bold col col-lg-4 col-md-4 col-12 mt-4">
      <h1 class="fw-bold">Find <span class="text-primary ">Remote</span></h1>
      <h1 class="fw-bold"> Job in <span class="text-primary">Worldwide_</span></h1>
    </div>
    <div class="sub-main text-center col col-lg-4 col-md-4 col-12 mt-4">
    <img src="/assets/images/profile.jpg" class="img-fluid m-3 blurred-image" style=" border-radius: 50%;">
</div>

  </div>
</div>