<div class="container-fluid h-100 p-0">
  <div class="d-flex pt-2 pb-2 justify-content-between align-items-center">
    <h2 class="text-dark ms-2 mt-2 px-3">
      Skill<span class="text-primary">Set</span>
    </h2>
    <div class="toggle" id="toggle" (click)="toggleVisibility()">
      <i class="fa-solid fa-bars text-dark"></i>
    </div>
  </div>
  <hr />
  <nav class="m-0 px-3 text-start" id="toggle-content">
    <a routerLink="/home">
      <li>
        <i class="fa-solid fa-house"></i>
        <label> Home </label>
      </li>
    </a>

    <a routerLink="/employer/profile" routerLinkActive="active">
      <li><i class="fa-solid fa-user"></i> <label> Profile </label></li>
    </a>
    <a routerLink="/employer/dashboard" routerLinkActive="active">
      <li><i class="fa-solid fa-chart-line"></i> <label> Dashboard </label></li>
    </a>
    <a routerLink="/employer/settings" routerLinkActive="active">
      <li><i class="fa-solid fa-gear"></i> <label> Settings </label></li>
    </a>

    <li (click)="logOut()">
      <i class="fa-solid fa-right-from-bracket"></i> <label> Logout </label>
    </li>
  </nav>
</div>
