label,
legend {
  font-size: 0.8rem;
  color: rgb(54, 53, 53);
  font-weight: 600;
}
.content {
  background-color: wheat;
}

.modal label {
  font-weight: 550;
  margin-top: 4px;
}
.modal input {
  font-size: 0.8rem;
}

button {
  font-weight: 550;
  font-size: 0.8rem;
}
.text-danger {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 400px) {
  label {
    font-size: 0.7rem;
  }
  .width-90 {
    width: 100%;
  }
}
