<div class="d-flex justify-content-between w-100">
  <div class="">
    <h5 id="list-item-1">
      <i class="fa-solid fa-language me-2 fs-5"></i>Languages
    </h5>
    <p></p>
  </div>
  <div>
    <i class="fa-solid fa-plus me-2 fs-5" (click)="openModal()"></i>
  </div>
</div>
<div class="mt-2 d-flex flex-wrap align-items-center justify-content-start" *ngIf="Languages?.length !== 0">
  <span *ngFor="let lang of Languages"  style="width: 40px; height: 35px;" class="d-flex justify-content-center align-items-center ">
    <div class="visible text-center">
      {{ lang }}
    </div>
    <i class="fa-solid fa-trash text-center" (click)="deleteLang(lang)"></i>
  </span>
</div>
<div class="mt-2" *ngIf="Languages?.length === 0">
  <label>Add your known languages here to increase your job opportunities.</label>
</div>
<div>
  <div>
    <app-modal
      [formFields]="formFields.fields"
      [formHeader]="formTitle"
      [isVisible]="isModalVisible"
      [modalMessage]="'This is a custom message'"
      (formDataChange)="handleFormDataChange($event)"
      (closeModal)="onCloseModal()"
    ></app-modal>
  </div>
</div>
